    /* Custom Font */
    @font-face {
        font-family: customFont;
        src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2)
    }

    * {
        font-family: customFont !important;
    }
    /*HotBar & Backpack*/
    .main-pack,
    .backpack,
    .my-profile,
    .name[data-v-9ef66a43],
    .rarity-0.item,
    .item.rarity-1,
    .item.rarity-2,
    .item-cont,
    .item.rarity-undefined,
    .item.rarity-,
    .crafts,
    .btn-cont[data-v-0c51df9f],
    .btn[data-v-0c51df9f],
    .need-items,
    .item[data-v-6f832fcc],
    .drag-wrapper,
    .chest,
    .item.drag,
    .item-prompt.creative {
        background: #36393F !important;
    }

    .quantity {
        color: white;
    }

    .key {
        background: #36393F !important;
        color: white !important;
    }

    .name[data-v-9ef66a43] {
        color: white
    }

    .btn[data-v-0c51df9f] {
        color: white !important
    }

    .description[data-v-ab77cf26] {
        color: white !important
    }
    .count[data-v-6f832fcc] {
        color: white
    }

    .hero[data-v-9ef66a43] {
        visibility: hidden
    }

    /*Stats*/
    .show-stats {
        background: transparent !important;
    }

    /*Prompt*/
    .tooltip-img {
        display: none
    }

    .wrapper[data-v-ab77cf26],
    .item-prompt[data-v-ab77cf26],
    .desc[data-v-ab77cf26] {
        background: #36393F !important;
        visibility: visible !important
    }

    .name[data-v-ab77cf26] {
        color: white
    }

    /*TP Request*/
    .notify,
    .notify-content {
        background: #36393F !important
    }

    .name[data-v-48d9570d],
    .request[data-v-48d9570d] {
        color: white !important
    }

    .timer {
        display: none
    }

    /*Daily Task*/
    .wrapper-classic-card.left-tasks-cont,
    .left-tasks,
    .top[data-v-5ab355b6],
    .task,
    .wrapper-classic-card[data-v-5ab355b6],
    .top-description[data-v-5ab355b6],
    .base-close.close[data-v-5ab355b6],
    .description[data-v-5ab355b6],
    .rewards,
    .cont-reward,
    .reward,
    .end-time {
        background: #36393F !important
    }

    .title-tasks,
    .name[data-v-5ab355b6],
    .value[data-v-5ab355b6],
    .desc-title,
    .description-text[data-v-5ab355b6],
    .location[data-v-5ab355b6],
    .reward,
    .end-time {
        color: white !important
    }

    .base-close.close[data-v-5ab355b6] {
        border: #36393F !important
    }

    .cont-reward[data-v-5ab355b6] {
        border: none !important
    }

    .top-description[data-v-5ab355b6] {
        border-bottom: #36393F
    }

    /*Store*/
    .quantity[data-v-f98886fc] {
        color: #000
    }
